$font-size-b1: 16px;
$font-size-b2: 18px;
$h5: 24px;
$h6: 20px;

$line-height-b1: 26px;
$line-height-b2: 30px;


$p-regular: 400;
$s-bold: 700;


$color-body: #5D666F;
$color-primary: #DF0A0A;
$color-primary-alta: #FFECEC;
$color-primary-5: #B00F0F;