@import "reset", "variables";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap");

body {
  font-family: "DM Sans", sans-serif;
  color: $color-body;
  scroll-behavior: auto;
  font-size: $font-size-b1;
  line-height: $line-height-b1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "DM Sans", sans-serif;
  color: $color-body;
  font-weight: $p-regular;
  position: relative;
  overflow-x: hidden;
  color: #212529;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  body::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0.05;
  }
}

header {
  position: sticky;
  top: 0px;
  z-index: 1000;
  width: 100%;
  .header-top {
    background: transparent;
    border-bottom: 1px solid #e8e8e8;
    padding: 12px 0;
    position: sticky;
    .left {
      display: flex;
      align-items: center;
    }
    p {
      margin: 0;
      font-size: $font-size-b2;
      line-height: $line-height-b2;
      font-weight: $p-regular;
      color: $color-body;
    }
    .right {
      display: flex;
      justify-content: flex-end;
    }
    .phone i {
      margin-left: 30px;
    }
    i {
      color: $color-primary-5;
      margin-right: 12px;
    }
    a {
      color: #181a1c;
      font-weight: 500;
    }
  }
}


.header-main {
  position: sticky;
  top: 0px;
  a {
    padding: 36px 0;
    display: block;
    max-width: max-content;
  }
  img {
    border: 0;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
  }
  .main {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  ul {
    display: flex;
    align-items: center;
    :nth-child(1) {
      margin-left: 40px;
    }
    li {
      font-size: $font-size-b1;
      line-height: $line-height-b1;
      color: $color-body;
      a {
        padding: 30px 0;
        display: block;
        color: #1c2539;
        font-size: 16px;
        font-weight: 500;
        position: relative;
        transition: 0.3s;
        min-width: max-content;
        margin-right: 80px;
      }
    }
  }
}
.header-main li:hover a {
  color: $color-primary;
}
.header-main li:hover ::after {
  width: 100%;
}
.header-main li a::after {
  content: "";
  position: absolute;

  left: 0;
  bottom: 30px;
  height: 2px;
  width: 0%;
  border-radius: 1px;
  background: $color-primary;
  transition: 0.3s;
}
.quote-btn {
  padding: 17px 30px;
  min-width: max-content;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  transition: 0.3s;
  color: #fff;
  background-color: $color-primary-5;
  border-radius: 30px;
  &:hover {
    background-color: #fff;
  }
}
.menu-btn {
  margin-left: 20px;
  border-radius: 50%;
  background: #fff;
  height: 55px;
  width: 55px;
  padding: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: $color-primary-5;
  }
  i {
    font-size: 20px;
  }
}
.menu-btn:hover i {
  color: #fff;
}
.fixed {
    background-color: #fff;
}
.side-bar {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: -100%;
  width: 365px;
  padding: 40px 30px;
  padding-top: 50px;
  height: 100%;
  display: block;
  background-color: white;
  backdrop-filter: blur(7px);
  z-index: 5;
  transition: all 600ms ease;
  box-shadow: -5px 0 20px -5px rgba(149, 22, 22, 0.12);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  button {
    background-color: $color-primary-5;
    max-width: max-content;

    border-radius: 5px;
    i {
      color: #fff;
      height: 50px;
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  img {
    margin-top: 50px !important;
  }
  p {
    margin-top: 30px;
    font-size: 16px;
    line-height: 26px;
    color: $color-body;
  }
  h6 {
    margin-bottom: 30px;
    font-weight: $s-bold;
    font-size: $h6;
    line-height: 1.25;
    font-family: "Red Hat Display", sans-serif;
  }
}
.show {
  right: 0px;
}
.wrapper {
  i {
    margin-right: 10px;
    margin-bottom: 15px;
    color: $color-primary-5;
  }
  a {
    transition: 0.3s;
    color: #5d666f;
    &:hover {
      color: $color-primary-5;
    }
  }
}
.wrapper-social {
  margin-top: 50px;
  a {
    margin-right: 10px;
  }
  i {
    color: #fff;
    transition: 0.3s;
    font-size: 16px;
    border-radius: 50px;
    background-color: $color-primary-5;
    padding: 15px;
    &:hover {
      background-color: #e4e7ff;
      color: $color-primary-5;
    }
  }
}
.anywhere {
  background: #0e1013;
  opacity: 0%;
  visibility: hidden;
  pointer-events: visible;
  z-index: 1;
  top: 0;
  cursor: url(https://reactheme.com/products/html/finbiz/assets/images/banner/shape/close.png),
    auto;
  position: fixed;
  width: 100%;
  height: 100%;
  transition: opacity 500ms ease-in-out;
}
.bgshow {
  opacity: 70%;
  visibility: visible;
}
.banner {
    
  top: -200px;
  position: relative;
  background-image: url(https://reactheme.com/products/html/finbiz/assets/images/banner/banner-11.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 1150px;
  padding: 12px 0;
  .banner-btn{
    position: relative;
    z-index: 10;
    margin-top: 30px;
    &:hover{
        background-color: $color-primary-alta;
      }
  }
}
.shape{
    position: absolute;
top: 65%;
left: -2.3%;
animation: jump-2 5s linear infinite;

}
.shape img {
  
        border: 0;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    
}
@keyframes jump-2 {
    0%{
        transform:translateY(0px)
    }
    50%{
        transform: translateY(30px);
    }
    100% {
        transform: translateY(0px);
    }
}

.pre1 {
  font-weight: 700;
  font-size: 60px;
}
.primary {
  color: #b00f0f;
}

.banner-title h1 {
  margin-top: 350px;
  font-weight: 700;
  font-size: 110px;
  line-height: 90px;
  color: #181a1c;
}
.banner-title p{
    margin-top: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #74787C;
    margin-left: 90px;
}

.services {
  position: relative;
}
.shape-business-services {
  position: absolute;
  left: -13%;
  top: -250%;
  z-index: -1;
}
.pre {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #B00F0F;
  margin-left: 10px;
  margin-right: 10px;
}
.title {
  margin-top: 13px;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #181A1C;
}
.section-title {
  position: relative;
    z-index: 4;
}
.service-item {
  background: linear-gradient(180deg, rgba(235, 235, 235, 0) 0%, #F7F7F7 100%);
  border-radius: 20px;
  padding: 100px 40px 40px 40px;
  position: relative;
  &:hover .icon img{
    transform: rotate(-360deg);
  }
  h5{
    font-size: $h5;
    line-height: 1.24;
  }
  p{
    font-size: 16px;
    line-height: 26px;
    color: $color-body;
    font-weight: $p-regular;
    margin-top: 15px;
  }
}
.mt--80{
  margin-top: 80px;
}
.icon {
  position: absolute;
    top: -70px;
    left: 10px;
    transition: 0.6s;
    z-index: 2;
    img{
      position: relative;
      z-index: 5;
      transition: 1s;
    }
    &::after {
      position: absolute;
      content: "";
      left: 50%;
      top: 56%;
      height: 40px;
      width: 40px;
      background: #000;
      filter: blur(27px);
      transform: translate(-50%, -50%);
      z-index: 0;
    }
}
.bg-shape{
  background-image: url(	https://reactheme.com/products/html/finbiz/assets/images/bg/bg-shape-1.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.about{
  padding: 120px 0px;
}

.about-inner {
  p{
    font-size: 16px;
    line-height: 26px;
    font-weight: $p-regular;
    color: $color-body;
  }
}
.item-check-inner {
  padding: 30px;
  background: #FFFFFF;
  box-shadow: 0px 4px 58px rgba(0, 0, 0, 0.08);
  border-left: 7px solid #B00F0F;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.single-check {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #181A1C;
  i{
    font-weight: 900;
    font-size: 18px;
    line-height: 32px;
    color: #B00F0F;
  }

}
.contact-inner-about{
  margin-top: 50px;
  display: flex;
  align-items: center;
  .single-left {
    display: flex;
    align-items: center;
    margin-right: 50px;
    border-right: 1px solid #EBEBEB;
    padding-right: 50px;
    img{
      margin-right: 16px;
    }
    .title{
      font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 5px;
    }
    span{
      font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #B00F0F;
    }
  }
  .single-right {
    display: flex;
    align-items: center;
    img{
      margin-right: 16px;
    }
    span{
      font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 7px;
    color: #5D666F;
    }
    a{
      font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #181A1C;
    transition: 0.3s;
    &:hover{
      color: $color-primary-5;
    }
    }
  }
}

.thumbnail-about-six {
  margin-top: -180px;
  margin-left: -160px;
  margin-bottom: -157px;
img{
  position: relative;
    min-width: 140%;
}
}






@media screen and (max-width: 1200px) {
  
  .header-top {
    border-bottom: none !important;
  }
 header .quote-btn {
  display: none;
 }
}